header {
  position: fixed;
  width: 100%;
  height: 5rem;
  z-index: 1;
}

nav * {
  color: #e1e1e1;
}
nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70% 0 12%;
  background-color: #204ac8;
  width: 100%;
}

#menu {
  position: fixed;
  right: 0;
  top: 50%;
  width: 8em;
  margin-top: -2.5em;
}

.nav-links {
  margin: 0;
  padding-right: 28%;
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: space-around;
}
.nav-links li {
  list-style-type: none;
  padding-right: 8px;
  width: fit-content;
}
.nav-links a {
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 600;
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.logo img {
  height: 4rem;
}
#logo-text {
  font-weight: 600;
  font-size: 3rem;
  margin-left: 0.5em;
}
.burger {
  display: none;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: #e1e1e1;
  margin: 5px;
  transition: all 0.3s ease;
}
.underline-hover::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  transition: width 0.3s;
  background-color: #e1e1e1;
}
.underline-hover:hover::after {
  width: 100%;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  nav {
    padding: 0 6rem;
  }
}

@media (max-width: 767px) {
  nav {
    padding: 0 2rem;
  }
  .nav-links {
    position: absolute;
    right: 0;
    top: 5rem;
    height: calc(100vh - 5rem);
    background-color: #0d0d0d;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
    margin: 2rem;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  transform: translateX(0%);
}
